@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@theme{
  --color-dominant-color: #FFFFFF;
  --color-secondary-color: #000000;
  --color-accent-light: #003CD5;
  --color-accent-dark: #F20574;
  --font-roboto: "Roboto", sans-serif;
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

/* Dành cho trình duyệt Webkit (Chrome, Safari, Edge...) */
html::-webkit-scrollbar {
  width: 8px; /* Tương đương w-2 của Tailwind */
}

html::-webkit-scrollbar-track {
  background: #f3f4f6; /* Tương đương bg-gray-100 */
  border-radius: 24px; /* Tương đương rounded-4xl (cần check lại) */
}

html::-webkit-scrollbar-thumb {
  background-color: #003CD5; /* Thay bằng mã màu của bg-accent-light */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
